<html>
<head>
    <title>Password Reset | FindIndexIIDocument</title>
</head>
<body style="background-color:#f6f8b7;">
{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section border border-dark mt-4 shadow-lg"  style="background-color:#e2e594;">
  	 	<h2>Reset Password</h2><hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-default border-dark text-white mt-4" style="background-color:#481d01; width:205px;" type="submit">Send email</button>
        </form>
  	</div>
{% endblock %}
</body>
</html>