<html>
<head>
    <title>Register | FindIndexIIDocument</title>
</head>
<body style="background-color:#F4F4F4;">
<!-- django_project/users/templates/register.html -->
{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section border border-dark mt-4"  style="background-color:#F4F4F4; margin-bottom:24px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-2" style="margin:24px">
                <h2 class="border-bottom border-dark mb-4 p-2">Join Today </h2>
                {{ form|crispy }}
                NOTE : By registering, you accept the Terms of Service and Privacy Notice

            <div class="form-group">
                <button class="btn btn-default border-dark text-white mt-4" style="background-color:#003F72; width:205px;" type="submit">Sign Up</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" style="text-decoration:underline;color:#003F72;" href="/login">Sign In</a>
                </small>
            </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
</body>
</html>