<!-- django_project/main/templates/main/home.html-->
<!DOCTYPE html>
<html>
<head>
    <title>HOME | FindIndexIIDocument</title>
</head>
<body style="background-color:#FAF9F6;">
{% extends "main/header.html" %}
{% block content %}
<!--This is Home Page-->
{% if user.is_superuser %}
<div class="alert alert-success" role="alert">
You are Logged In as {{user.first_name}}, here are the
<a href="/admin/">admin pages</a> for changing content.
</div>
{% endif %}


{% include 'indexIIdocument/SearchIndexIIForm.html' %}
{% endblock content %}
</body>
</html>
