<!--django_project/main/templates/main/includes/navbar.html-->
<header class="site-header" style="margin-bottom: 5px">
    <nav class="navbar navbar-expand-md navbar-color" style="background-color:#003F72;">
        <div class="container">
            <!-- Navbar Left Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/">Home</a>
            </div>
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-auto float-right btncolor" data-target="#navbarToggle" data-toggle="collapse" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Left Side -->
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href={% url "aboutpage" %}>About</a>
                </div>
                <!-- Navbar Right Side -->
           <!-- django_project/main/templates/main/includes/navbar.html -->
{% if user.is_authenticated %}

                {% if user.is_superuser %}

                <a class="nav-item nav-link text-white" href="{% url 'allDocument' %}">
                    All Documents <i class="fas fa-user"></i>
                </a>
                {% endif %}

                <a class="nav-item nav-link text-white" href="{% url 'yourDocument' %}">
                    Your Documents <i class="fas fa-user"></i>
                </a>

<a class="nav-item nav-link text-white" href="{% url 'uploadDocument' %}">
    Upload Document <i class="fas fa-user"></i>
</a>

<a class="nav-item nav-link text-white" href="{% url 'profile' user.username %}">
    {{user.username}} <i class="fas fa-user"></i>
</a>


<a class="nav-item nav-link text-white" href="{% url 'logout' %}">
    Log out <i class="fas fa-sign-out-alt"></i>
</a>
{% else %}
<a class="nav-item nav-link text-white" href="{% url 'login' %}">
    Log in <i class="fas fa-sign-in-alt"></i>
</a>
<a class="nav-item nav-link text-white" href="{% url 'register' %}">
    Sign up <i class="fas fa-user-plus"></i>
</a>
{% endif %}
            </div>
        </div>
    </nav>
</header>
